:root {
    --spinner-size: 150px;
    --spinner-spacing: 10px;
    --spinner-bg-color: silver;
}

button {
    width: 100%;
    text-align: center;
    height: 75px;
    box-sizing: border-box;
}

aside {
    position: fixed;
    inset: 0;
    overflow-y: auto;
    background: black;
    text-align: center;
    display: grid;
    place-items: center;
}

aside p {
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
    font-family: monospace;
    font-size: 10px;
}

.spinner {
    display: inline-block;
    width: var(--spinner-size);
    height: var(--spinner-size);
    margin: var(--spinner-spacing);
    background: var(--spinner-bg-color);
}
.spinner.pause,
.spinner.pause::before,
.spinner.pause::after {
    animation-play-state: paused !important;
}

.spinner.pause:hover,
.spinner.pause:active,
.spinner.pause:hover::before,
.spinner.pause:active::before,
.spinner.pause:hover::after,
.spinner.pause:active::after {
    animation-play-state: running !important;
}

.spinner001 {}
.spinner001::after { content: ""; display: block; width: 90%; height: 90%; margin-top: 0; margin-left: 0; background: conic-gradient(gold 90deg, black 90deg 180deg, gold 180deg 270deg, black 270deg); border-radius: 50%; animation: spinner001 1s infinite linear; box-shadow: 0 0 5px black; }
@keyframes spinner001 {0%{margin-left:0;margin-top:0;transform:rotate(0);} 25%{margin-left:5%;margin-top:0;} 50%{margin-left:5%;margin-top:5%} 75%{margin-left:0;margin-top:5%} 100%{margin-left:0;margin-top:0;transform:rotate(360deg);} }
.spinner002 { position: relative; overflow: hidden; }
.spinner002::before { content: ""; display: block; width: 100%; height: 50%; background-color: firebrick; position: absolute; top: 0; animation: spinner002b 2s infinite linear; }
.spinner002::after { content: ""; display: block; width: 100%; height: 50%; background-color: orange; position: absolute; bottom: 0; animation: spinner002a 2s infinite linear; }
@keyframes spinner002a {0%{width:100%;height:50%;bottom:0;left:100%} 49.99%{width:100%;height:50%;bottom:0;left:-100%} 50%{width:50%;height:100%;left:50%;bottom:-100%;} 100%{width:50%;height:100%;left:50%;bottom:100%;}}
@keyframes spinner002b {0%{width:100%;height:50%;top:0;left:-100%} 49.99%{width:100%;height:50%;top:0;left:100%;} 50%{width:50%;height:100%;left:0;top:-100%;} 100%{width:50%;height:100%;left:0;top:100%;}}
.spinner003 { position: relative; }
.spinner003::before,
.spinner003::after { content: ""; display: block; box-sizing: border-box; width: 50%; height: 50%; position: absolute; left: 25%; top: 25%; border-radius: 50%; border: 15px dotted forestgreen; opacity: 0.25; }
.spinner003::before { animation: spinner003 3s infinite linear; }
.spinner003::after { animation: spinner003 3s reverse infinite linear; }
@keyframes spinner003 {from{transform:rotate(0);} to{transform:rotate(360deg);}}
.spinner004 { position: relative; overflow: hidden; }
.spinner004::before,
.spinner004::after { content: ""; display: block; box-sizing: border-box; position: absolute; border: 5px double grey; }
.spinner004::before { width: 90%; height: 90%; left: 5%; top: 5%; animation: spinner004 2s infinite; }
.spinner004::after { width: 76%; height: 76%; left: 12%; top: 12%; animation: spinner004 2s reverse infinite; }
@keyframes spinner004 {from{transform:rotate(0);} to{transform:rotate(360deg);}}
.spinner005 { position: relative; overflow: hidden; }
.spinner005::before { content: ""; display: block; width: calc(100% * 1.414); height: calc(100% * 1.414); position: absolute; top: calc(50% * -0.414); left: calc(50% * -0.414); background: conic-gradient(red, orange, yellow, green, blue, indigo, violet, red); animation: spinner005 5s reverse infinite linear; }
@keyframes spinner005 {from{transform:rotate(0);} to{transform:rotate(360deg);}}
.spinner006 { background: repeating-linear-gradient(to right, green 10px, lime 20px); animation: spinner006 2.5s alternate-reverse infinite linear; }
@keyframes spinner006 {from{background-size:1%;background-position:300% 0;} to{background-size:100%;background-position:-300% 0;}}
.spinner007 { position: relative; }
.spinner007::before { content: ""; display: block; position: absolute; inset: 0; border: dashed navy; border-radius: 50%; animation: spinner007 3s alternate infinite; }
@keyframes spinner007 {from{border-width: 0;transform:rotate(0);} to{border-width: 55px;transform:rotate(575deg);}}
.spinner008 { position: relative; background: radial-gradient(closest-side, transparent 96%, brown 96%, brown 99%, transparent 99%); }
.spinner008::before,
.spinner008::after { content: ""; display: block; position: absolute; top: 50%; left: 50%; box-sizing: border-box; height: 4px; border-top: 4px solid brown; transform-origin: top left; border-radius: 50%; }
.spinner008::before { width: 40%; animation: spinner008 2s infinite linear; }
.spinner008::after { width: 30%; animation: spinner008 10s infinite linear; }
@keyframes spinner008 {0%{transform:rotate(0);} 50%{transform:rotate(180deg) translateY(-4px);} 100%{transform:rotate(360deg);}}
.spinner009 { position: relative; overflow: hidden; }
.spinner009::before { content: ""; display: block; position: absolute; inset: 25%; background-color: seagreen; box-shadow: 2px 2px 10px black; animation: spinner009 6s infinite linear; }
@keyframes spinner009 {25%{transform: skew(180deg, 0)} 75%{transform: skew(0, 180deg);}}
.spinner010 {}
.spinner011 {}
.spinner012 {}
.spinner013 {}
.spinner014 {}
.spinner015 {}
.spinner016 {}
.spinner017 {}
.spinner018 {}
.spinner019 {}
.spinner020 {}
.spinner021 {}
.spinner022 {}
.spinner023 {}
.spinner024 { position: relative; }
.spinner024::before,
.spinner024::after { content: ""; display: block; position: absolute; inset: 0; border-radius: 50%; mix-blend-mode: difference; }
.spinner024::before { border: 40px dotted rgba(230, 230, 250, 0.5); animation: spinner024 2s infinite; }
.spinner024::after { border: 40px dashed rgba(238, 130, 238, 0.95); animation: spinner024 12s reverse infinite linear; }
@keyframes spinner024 {from{transform:rotate(0);} to{transform:rotate(360deg);}}
.spinner025 {}
.spinner026 {}
.spinner027 {}
.spinner028 {}
.spinner029 {}
.spinner030 {}
.spinner031 {}
.spinner032 {}
.spinner033 {}
.spinner034 {}
.spinner035 {}
.spinner036 {}
.spinner037 {}
.spinner038 {}
.spinner039 {}
.spinner040 {}
.spinner041 {}
.spinner042 {}
.spinner043 {}
.spinner044 {}
.spinner045 {}
.spinner046 {}
.spinner047 {}
.spinner048 {}
.spinner049 {}
.spinner050 {}
.spinner051 {}
.spinner052 {}
.spinner053 {}
.spinner054 {}
.spinner055 {}
.spinner056 {}
.spinner057 {}
.spinner058 {}
.spinner059 {}
.spinner060 {}
.spinner061 {}
.spinner062 {}
.spinner063 {}
.spinner064 {}
.spinner065 {}
.spinner066 {}
.spinner067 {}
.spinner068 {}
.spinner069 {}
.spinner070 {}
.spinner071 {}
.spinner072 {}
.spinner073 {}
.spinner074 {}
.spinner075 {}
.spinner076 {}
.spinner077 {}
.spinner078 {}
.spinner079 {}
.spinner080 {}
.spinner081 {}
.spinner082 {}
.spinner083 {}
.spinner084 {}
.spinner085 {}
.spinner086 {}
.spinner087 {}
.spinner088 {}
.spinner089 {}
.spinner090 {}
.spinner091 {}
.spinner092 {}
.spinner093 {}
.spinner094 {}
.spinner095 {}
.spinner096 {}
.spinner097 {}
.spinner098 {}
.spinner099 {}
.spinner100 {}
